@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600&family=Montserrat:wght@500;600;700;800&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Lato, sans-serif;
    color: #000000;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #000000;
    transition: all ease-in-out 0.3s;
}

a:hover,
a:focus,
a:active {
    outline: none;
}

img {
    /* max-width: 100%; */
    height: auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.section__header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.section-btn {
    display: inline-block;
    padding: 20px 33px;
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    border: 2px solid #231f20;
}

.section-btn:hover, .section-btn:focus, .section-btn:active {
    background: #231f20;
    color: #fff;
}

.section__title {
    font-size: 23px;
    margin-bottom: 20px;
}

.section__subtitle {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #777777;
    letter-spacing: 0.3px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 55px;
}

.section__subtitle::before {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    width: 155px;
    height: 1px;
}

.section__text {
    color: #777777;
    font-weight: 600;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.3px;
    max-width: 687px;
    padding: 0 30px;
    margin-bottom: 80px;
}

/* 
 #    # ######   ##   #####  ###### #####  
 #    # #       #  #  #    # #      #    # 
 ###### #####  #    # #    # #####  #    # 
 #    # #      ###### #    # #      #####  
 #    # #      #    # #    # #      #   #  
 #    # ###### #    # #####  ###### #    #
*/

.header {
    width: 100%;
    height: 105px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .35s all;
    z-index: 1000;
}

.header__active {
    background: #eee;
}

.header__active .header__wrapper {
    margin-bottom: 20px;
}

.header__active .nav__menu-link:hover, .header__active .nav__menu-link:focus, .header__active .nav__menu-link:active {
    background: rgba(255, 255, 255, 0.6);
    padding: 15px 20px;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo-pic {
    width: 203px;
    height: 69px;
}

.logo__link {
    display: inline-block;
}

.nav__menu {
    display: flex;
    flex-wrap: wrap;
}

.nav__menu-item {
    margin-left: 20px;
}

.nav__menu-link {
    padding: 15px 20px;
    font-size: 17px;
}

.nav__menu-link:hover, .nav__menu-link:focus, .nav__menu-link:active {
    background: #e3e3e3;
}

.burger-btn {
    display: none;
    width: 30px;
    height: 24px;
    position: relative;
}

.burger-line {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #231f20;
    position: absolute;
    left: 0;
}

.burger__line-first {
    top: 0;
}

.burger__line-second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line-third {
    bottom: 0;
}

/* 
 # #    # ##### #####   ####  
 # ##   #   #   #    # #    # 
 # # #  #   #   #    # #    # 
 # #  # #   #   #####  #    # 
 # #   ##   #   #   #  #    # 
 # #    #   #   #    #  #### 
*/

.intro {
    background: url(/img/intro1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.intro__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 20;
}

.intro__subtitle {
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 47px;
    margin-bottom: 45px;
    position: relative;
}

.intro__subtitle::before {
    display: block;
    content: "";
    width: 80px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
}

.intro__title {
    max-width: 800px;
    font-size: 45px;
    line-height: 1.6;
    font-weight: 600;
    margin-bottom: 49px;
}

.intro-btn {
    padding: 20px 45px;
    color: #fff;
}

.intro-btn:hover {
    background: #231f20;
}

#intro-carousel {
    z-index: 8;
}

#intro-carousel::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 7;
}
  
#intro-carousel .item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition-property: opacity;
}

#topBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    color: #fff;
    background: #C0A473;
    border-radius: 50%;
    border: none;
    display: none;
    outline: none;
    cursor: pointer;
    z-index: 998;
}

#topBtn.show {
    display: block;
}

#topBtn:hover {
    cursor: pointer;
}

/* 
    #####   ####  #    # #    # #       ####    ##   #####  
    #    # #    # #    # ##   # #      #    #  #  #  #    # 
    #    # #    # #    # # #  # #      #    # #    # #    # 
    #    # #    # # ## # #  # # #      #    # ###### #    # 
    #    # #    # ##  ## #   ## #      #    # #    # #    # 
    #####   ####  #    # #    # ######  ####  #    # #####  
*/

.download {
    background: #000;
}

.download__wrapper {
    padding: 52px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.download__title {
    color: #fff;
    margin-right: 100px;
    letter-spacing: 1.3px;
}

.download-btn {
    padding: 20px 35px;
    background: #fff;
    border-radius: 30px;
    font-weight: 700;
    border: 2px solid #fff;
    transition: 0.3s;
}

.download-btn:hover, .download-btn:focus, .download-btn:active {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1200;
    background: rgba(0, 0, 0, 0.6);
}

.popup__body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 13% auto;
    padding: 50px;
    background-color: #eee;
    width: 55%;
    box-shadow: 0px 0px 16px -3px rgba(255,255,255,1);
    animation-name: modalopen;
    animation-duration: 1s;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 25px;
    font-size: 40px;
    color: #b1abab;
    transition: all ease-in-out .25s;
}

.close-btn:hover, .close-btn:focus, .close-btn:active {
    color: #000;
    cursor: pointer;
}

.modal-title {
    margin-bottom: 35px;
    font-size: 27px;
}

.modal-row {
    margin-right: 0;
    margin-bottom: 25px;
}

.modal-submit {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@keyframes modalopen {
    from{opacity: 0;}
    to{opacity: 1;}
}


/* 
  ####  #####  ####  #####  #   # 
 #        #   #    # #    #  # #  
  ####    #   #    # #    #   #   
      #   #   #    # #####    #   
 #    #   #   #    # #   #    #   
  ####    #    ####  #    #   #  
*/

.story__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.story__main {
    padding: 63px 0;
    width: 50%;
}

.story__subtitle {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #777777;
    letter-spacing: 0.3px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 35px;
}

.story__subtitle::before {
    display: block;
    content: "";
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 1px;
}

.story-text {
    max-width: 429px;
    margin-bottom: 40px;
    padding: 0;
}

.story-btn {
    padding: 18px 43px;
}

.story__pic {
    width: 50%;
}


/* 
 #    # # #####  ######  ####  
 #    # # #    # #      #    # 
 #    # # #    # #####  #    # 
 #    # # #    # #      #    # 
  #  #  # #    # #      #    # 
   ##   # #####  ######  #### 
*/

.video {
    background: url(/img/keyboard-min.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 60vh;
    position: relative;
}

.video::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.video__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 10;
}

.video__title {
    color: #fff;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 45px;
}

.play-icon {
    width: 77px;
    height: 77px;
    fill: #fff;
    transition: .3s linear;
}

.play-icon:hover, .play-icon:focus, .play-icon:active {
    opacity: .75;
}

/* 
#####   ####  #####  ##### ######  ####  #      #  ####  
#    # #    # #    #   #   #      #    # #      # #    # 
#    # #    # #    #   #   #####  #    # #      # #    # 
#####  #    # #####    #   #      #    # #      # #    # 
#      #    # #   #    #   #      #    # #      # #    # 
#       ####  #    #   #   #       ####  ###### #  #### 
*/

.portfolio {
    padding-top: 77px;
    margin-bottom: 70px;
}

.portfolio__nav {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.portfolio__menu {
    display: flex;
    justify-content: center;
}

.portfolio__menu-item {
    margin-right: 30px;
}

.portfolio__menu-link {
    margin-right: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 28px;
    border: 2px solid #231f20;
}

.portfolio__menu-link:hover, .portfolio__menu-link:focus, .portfolio__menu-link:active {
    background: #231f20;
    color: #fff;
}

.portfolio__cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.portfolio__card {
    width: 30%;
    height: 357px;
    margin-bottom: 30px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
}

.portfolio__pic {
    height: 357px;
    object-fit: cover;
    position: relative;
    transition: all ease-in-out .4s;
}

.portfolio__card:hover .portfolio__pic {
    transform: scale(1.1);
}

.portfolio__card:hover .portfolio__content {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.portfolio__thumb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.portfolio__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: all ease-in-out .4s;
}

.portfolio__card-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.more-btn {
    text-align: center;
}

.portfolio-btn {
    padding: 15px 38px;
}

/* 
  ####  #    #  ####  ##### ###### 
 #    # #    # #    #   #   #      
 #    # #    # #    #   #   #####  
 #  # # #    # #    #   #   #      
 #   #  #    # #    #   #   #      
  ### #  ####   ####    #   ###### 
*/

.quote {
    background: url(/img/coffe-min.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 60vh;
    position: relative;
}

.quote::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.quote__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.quote__title {
    color: #fff;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 500;
    max-width: 485px;
    padding-top: 99px;
    letter-spacing: 0.6px;
    position: relative;
    margin-bottom: 40px;
}

.quote__title::before {
    display: block;
    content: open-quote;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    font-size: 60px;
    color: #000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.quote__author {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

/* 
   ##   #####   ####  #    # ##### 
  #  #  #    # #    # #    #   #   
 #    # #####  #    # #    #   #   
 ###### #    # #    # #    #   #   
 #    # #    # #    # #    #   #   
 #    # #####   ####   ####    # 
*/

.about {
    padding-top: 77px;
    margin-bottom: 80px;
}

.team__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-bottom: 75px;
}

.team__card {
    grid-column: span 1;
    position: relative;
}

.team__thumb {
    max-width: 100%;
}

.team__content {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}

.team__title {
    padding: 22px 51px 22px 55px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about__title {
    font-size: 18px;
    margin-bottom: 30px;
}

.about__text {
    color: #777777;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    max-width: 360px;
}

div.owl-nav {
    display: inline-block;
    outline: none;
    width: 40px !important;
    height: 60px !important;
    font-size: 55px;
    text-align: center;
    color: #777777;
    margin-top: -30px;
    transition: .3s linear;
}

.owl-prev, .owl-next {
    position: absolute;
    outline: none;
}

.owl-prev {
    left: 150px;
    bottom: 85px;
}

.owl-next {
    right: 150px;
    bottom: 85px;
}

/* 
  ####  #    # #####   ####   ####  #####  # #####  ###### 
 #      #    # #    # #      #    # #    # # #    # #      
  ####  #    # #####   ####  #      #    # # #####  #####  
      # #    # #    #      # #      #####  # #    # #      
 #    # #    # #    # #    # #    # #   #  # #    # #      
  ####   ####  #####   ####   ####  #    # # #####  ###### 
*/

.subscribe {
    background: #000;
    padding: 75px;
}

.subscribe__wrapper {
    padding: 0 100px;
}

.subscribe__title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.sub__form-wrapper {
    display: flex;
}

.sub__form {
    position: relative;
}

.sub__form-input {
    padding: 17px 500px 17px 73px;
    outline: none;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-right: 30px;
}

.sub__form-input::placeholder {
    color: #fff;
}

.sub__form i {
    color: #fff;
    position: absolute;
    top: 15px;
    left: 28px;
    font-size: 25px;
}

.subscribe-btn {
    display: inline-block;
    padding: 15px 43px 15px 43px;
    color: #000;
    background: #fff;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #fff;
}

.subscribe-btn:hover, .subscribe-btn:focus, .subscribe-btn:active {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

/* 
  ####   ####  #    # #####   ##    ####  ##### 
 #    # #    # ##   #   #    #  #  #    #   #   
 #      #    # # #  #   #   #    # #        #   
 #      #    # #  # #   #   ###### #        #   
 #    # #    # #   ##   #   #    # #    #   #   
  ####   ####  #    #   #   #    #  ####    # 
*/

.contact {
    padding-top: 77px;
    margin-bottom: 80px;
}

.contact__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 200px; */
    margin-bottom: 70px;
}

.contact__wrap {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact__wrap i {
    font-size: 40px;
    display: inline-block;
    margin-bottom: 20px;
}

.contact__info-title {
    font-size: 14px;
    color: #777777;
    letter-spacing: 0.5px;
    max-width: 160px;
    line-height: 1.5;
}

.contact__form {
    display: flex;
    align-items: center;
}

.form-row {
    margin-right: 25px;
}

.contact__input {
    padding: 17px 20px;
    margin-bottom: 19px;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    font-family: Lato, sans-serif;
    color: #777777;
    transition: 0.2s ease-in-out;
    font-size: 15px;
    border: 1px solid #777777;
}

.contact__input:focus {
    outline: 0;
    background-color: #fff;
    border-color: #C0A473;
}

.contact__submit {
    display: flex;
    justify-content: flex-end;
}

.contact-btn {
    padding: 16px 43px;
    background: #231f20;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.8px;
    outline: none;
    font-weight: 600;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border: 0;
}

.contact-btn:hover {
    background: #000;
}

/* 
######  ####   ####  ##### ###### #####  
#      #    # #    #   #   #      #    # 
#####  #    # #    #   #   #####  #    # 
#      #    # #    #   #   #      #####  
#      #    # #    #   #   #      #   #  
#       ####   ####    #   ###### #    # 
*/

.footer {
    background: #000;
    padding: 80px 0;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer__logo {
    margin-bottom: 50px;
}

.social {
    margin-bottom: 44px;
}

.social i {
    color: #fff;
    font-size: 20px;
    margin-right: 30px;
    cursor: pointer;
    transition: all ease-in-out .25s;
}

.social i:hover {
    color: #C0A473;
}

.footer__title {
    color: #fff;
    text-transform: none;
    font-size: 15px;
    font-weight: 400;
}

/* 
 #    # ###### #####  #   ##   
 ##  ## #      #    # #  #  #  
 # ## # #####  #    # # #    # 
 #    # #      #    # # ###### 
 #    # #      #    # # #    # 
 #    # ###### #####  # #    #
*/

@media screen and (max-width:1400px) {
    .story-thumb {
        max-width: 100%;
    }

    .subscribe__wrapper {
        padding: 0 0 0 50px;
    }

    .sub__form-wrapper {
        display: block;
    }

    .sub__form-input {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:991px) {

    .section__subtitle {
        margin-bottom: 40px;
    }

    .section__text {
        margin-bottom: 60px;
    }

    .intro {
        height: 40vh;
    }

    .intro__title{
        font-size: 38px;
    }

    .download__title {
        padding: 40px 0;
        margin-right: 60px;
    }

    .story__main {
        padding: 50px 0;
    }

    .story-text {
        margin-right: 15px;
        font-size: 14px;
    }

    .story__wrapper {
        align-items: center;
    }

    .story-thumb {
        max-width: 100%;
    }

    .subscribe {
        padding: 40px 0;
    }

    .subscribe__wrapper{
        padding: 0 30px;
    }

    .sub__form-wrapper{
        display: block;
    }

    .sub__form-input {
        width: 100%;
        padding: 17px 0 17px 73px;
    }

    .portfolio {
        padding-top: 60px;
        margin-bottom: 45px;
    }

    .portfolio__nav {
        margin-bottom: 50px;
    }

    .portfolio__cards {
        margin-bottom: 20px;
    }

    .portfolio__card {
        width: 45%;
        margin: 0 10px 30px;
    }

    .quote__title {
        padding-top: 85px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .quote__author {
        font-size: 13px;
    }

    .about {
        padding-top: 60px;
        margin-bottom: 25px;
    }

    .team__cards {
        margin-bottom: 55px;
        column-gap: 0;
        row-gap: 40px;
    }

    .team__card {
        grid-column: span 2;
        margin: 0 auto;
        max-width: 300px;
    }

    .team__thumb {
        max-width: 300px;
    }

    .team__title {
        padding: 17px 25px 17px 25px;
        font-size: 12px;
    }

    .owl-prev {
        left: 100px;
    }

    .owl-next {
        right: 100px;
    }

    .about__text {
        font-size: 13px;
    }

    .sub__form {
        margin-bottom: 25px;
    }

    .contact {
        padding-top: 60px;
        margin-bottom: 50px;
    }

    .footer {
        padding: 50px 0;
    }

    .footer__logo {
        margin-bottom: 30px;
    }

    .social {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:767px) {

    .burger-btn {
        display: block;
        right: 5%;
    }


    .nav {
        position: fixed;
        width: 260px;
        height: 100%;
        top: 0;
        right: 0;
        background: #eee;
        padding: 200px 44px;
        z-index: 1003;
        transform: translateX(100%);
        transition: all .2s ease-out
    }

    .nav-open {
        transform: translateX(0);
    }

    .nav__menu-item {
        margin-bottom: 30px;
    }

    .nav__menu-item:last-child {
        margin-bottom: 0;
    }

    .nav__menu-link {
        font-size: 22px;
    }

    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 36px;
        right: 12%;
        z-index: 1004;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #231f20;
        position: absolute;
        top: 50%;
    }

    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .intro__subtitle {
        padding-bottom: 35px;
        margin-bottom: 35px;
    }

    .intro__title {
        font-size: 27px;
        line-height: 1.3;
        padding: 0 10px;
    }

    .download__wrapper {
        padding: 30px;
        text-align: center;
    }

    .download__title {
        margin-right: 0;
        padding: 20px 0;
        line-height: 1.4;
    }

    .popup__body {
        margin: 37% auto;
        padding: 34px;
        width: 83%;
    }

    .modal-title {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .form-row {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .contact__input:last-child {
        margin-bottom: 0;
    }

    .story__wrapper {
        display: block;
    }

    .story__main {
        width: 100%;
        padding: 40px 0;
    }

    .story__subtitle {
        padding-bottom: 12px;
        margin-bottom: 25px;
    }

    .story-text {
        margin-right: 0;
        margin-bottom: 30px;
        line-height: 1.5;
        font-size: 13px;
    }

    .story-btn {
        padding: 16px 30px;
    }

    .story__pic {
        width: 100%;
    }

    .video {
        min-height: 50vh;
    }

    .portfolio {
        padding-top: 40px;
        margin-bottom: 40px;
    }

    .section__title {
        margin-bottom: 15px;
    }

    .section__subtitle {
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    .section__text {
        margin-bottom: 30px;
        line-height: 1.5;
        font-size: 13px;
    }

    .portfolio__nav {
        display: flex;
        margin-bottom: 25px;
    }

    .portfolio__menu-link {
        margin-right: 5px;
        width: 35%;
        margin-bottom: 10px;
        padding: 13px 11px;
        margin-bottom: 0;
    }

    .portfolio__menu-link:last-child {
        margin-right: 0;
    }

    .portfolio__cards {
        margin-bottom: 10px;
    }

    .portfolio__card {
        width: 100%;
        margin: 10px 0;
    }

    .portfolio-btn {
        padding: 13px 30px;
    }

    .quote {
        min-height: 50vh;
    }

    .quote__title {
        font-size: 14px;
        padding: 85px 10px 0;
    }

    .quote__author {
        font-size: 11px;
    }

    .about {
        padding-top: 40px;
        margin-bottom: 20px;
    }

    .team__cards {
        row-gap: 25px;
        margin-bottom: 35px;
    }

    .team__card {
        grid-column: span 4;
    }

    .team__thumb {
        max-width: 275px;
    }

    .about__text {
        font-size: 11px;
        max-width: 270px;
    }

    .owl-prev {
        left: 0;
    }

    .owl-next {
        right: 0;
    }

    .subscribe__title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .sub__form {
        margin-bottom: 10px;
    }

    .sub__form-input {
        margin-right: 0;
        padding-left: 50px;
        margin-bottom: 10px;
    }

    .sub__form i {
        left: 20px;
    }

    .subscribe-btn {
        padding: 12px 30px 14px;
        font-size: 12px;
    }

    .contact {
        padding-top: 40px;
        margin-bottom: 30px;
    }

    .contact__info {
        margin-bottom: 40px;
    }

    .contact__wrap {
        grid-column: span 3;
        margin-bottom: 15px;
    }

    .contact__wrap i {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .contact__info-title {
        max-width: 100%;
    }

    .contact__form {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .form-row {
        margin-bottom: 10px;
    }

    .contact__input {
        padding: 14px 20px;
        margin-bottom: 10px;
    }

    .contact-btn {
        padding: 13px 33px;
        font-size: 13px;
    }

    .footer {
        padding: 39px 0;
    }

    #topBtn {
        width: 42px;
        height: 42px;
        font-size: 16px;
    }
}

@media screen and (max-width:325px) {
    .portfolio__nav {
        flex-direction: column;
    }

    .portfolio__menu-link {
        width: 100%;
        margin-bottom: 10px;
    }
}